/* *** commons *** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
}
 /* *** clearfix e float*** */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix .float-l {
    float: left;
}

/* *** header *** */
header {
    height: 100px;
    line-height: 100px;
    background-color: rgba(49,97,224,255);
}

/* *** logo e nav *** */

#logo img {
    height: 40px;
    vertical-align: middle;
}

header #logo, #login {
    width: 20%;
}

.header nav {
    width: 60%;
}

nav ul .link a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#login {
    text-align: right;
}

#login a {
    display: inline-block;
    height: 30px;
    width: 80px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 2px 3px;
    border-radius: 20px;
    vertical-align: middle;
    line-height: 25px;
}
nav > ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
}

/* *** jumbo *** */
#jumbotron {
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

 /* *** text format *** */
.txt {
    line-height: 1.6;
    font-size: 20px;
}

.txt.center {
    text-align: center;
}

div .txt.center h1 {
    font-size: 40px;
    text-align: center;
    margin: 15px 0;
}

div .txt.center p {
    margin-bottom: 10px;
}

#jumbotron .txt.center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* *** buttons format *** */
.btn {
    /* display: inline-block; attribuita di default*/
    width: 250px;
    margin: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 2em;
    border: none;
}

#jumbotron .btn:hover {
    background-color: rgba(150,226,206,255);
    cursor: pointer;
}

/* #download.btn {
    content: "f063"; non funziona
} */

#download {
    margin-right: 10px;
}

#browse {
    color: white;
    background-color: rgba(35,39,42,255)
}

/* *** main *** */

main .background:nth-child(odd) {
    background-color: white;
}

main .background:nth-child(even) {
    background-color: rgba(246,246,246,255);
}
main .section {
    height: 600px;
    margin: 100px auto;
}

main .main-img, 
main .main-txt {
    width: 50%;
}

main .main-txt {
    padding: 0 80px;
}

.background .title {
    font-size: 40px;
}

/* *** debug *** */
/* .debug #logo,
.debug #login {
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}

.debug nav {
    height: 100px;
    background-color: tomato;
    border: 1px solid black;
} */

/* .debug #jumbotron {
    height: 500px;
    background-color: yellow;
} */

/* .debug main {
    height: 800px;
    background-color: darkseagreen;
} */
/* .debug .background:nth-child(even) {
    height: 200px;
}

.debug main .background:nth-child(odd) {
    height: 200px;
} */

/* .debug footer {
    height: 400px;
    background-color: forestgreen;
} */
